.album {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 20px -20px;

    & li {
        padding: 0 20px;
        cursor: pointer;

        & .album-img {
            width: 100%;

            & img {
                width: 190px;
                border-radius: 8px;
            }
        }
    }
}
