.todo-list {
    list-style-type: none;
    display: flex;
    margin: auto;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #756d6d;
    max-width: 300px;
    padding: 20px;
    border-radius: 5px;

    & .todo-item {
        font-size: 20px;
        background-color: #bea3a3;
        color: cyan;
        max-width: 200px;
        min-width: 200px;
        padding: 10px 20px;
        border-radius: inherit;
        cursor: pointer;
    }

    & .completed {
        text-decoration: line-through;
        color: #fff;
        font-style: italic;
    }

    & .todo-item:not(:first-child) {
        margin-top: 20px;
    }
}
