* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    text-align: center;

    & .todo-title,
    .album-list {
        font-size: 20px;
        font-weight: 700;
        font-family: 'Courier New', Courier, monospace;
        line-height: 40px;
    }

    & .btn-list {
        margin: 20px 0px;

        & button {
            min-width: 150px;
            display: inline-block;
            padding: 12px 20px;
            cursor: pointer;
            margin-left: 10px;
            border-radius: 6px;
            border: none;
            outline: none;
            background-color: green;
            color: #fff;
        }
    }
}
